/* globals.css */
body {
    margin: 0;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f7f7f7;
    color: #333;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  * {
    box-sizing: border-box;
  }
  
  :root {
    /* Light mode colors */
    --bg: #ffffff;
    --text: #000000;
    --navbar-bg: rgba(255, 255, 255, 0.644);
    --footer-bg: rgba(255, 255, 255, 0.744);
    --link-hover: rgb(0, 0, 0);
    --link-color: rgb(122, 122, 122);
    --icon-filter: invert(70%);
    --button-hover-bg: lightgray;
  
    /* Common */
    --navbar-blur: blur(10px);
    --footer-blur: blur(10px);
    --transition-speed: 200ms;
    --nav-radius: 0.725rem;
    --footer-radius: 0.725rem;
    --font-size: 0.825rem;
    --link-gap: 1.2rem;
    --button-icon-size: 1rem;
    --dropdown-bg: rgba(255, 255, 255, 0.644);
    --dropdown-radius: 0.5rem;
  }
  
  .dark{
    /* Dark mode colors */
    --bg: rgba(0, 0, 0, 1);
    --dropdown-bg: rgba(0, 0, 0, 0.644);
    --text: #ece4e4;
    --navbar-bg: rgba(0, 0, 0, 0.644);
    --footer-bg: rgba(0, 0, 0, 0.544);
    --link-color: #b4b4b4;
    --link-hover: #ffffff;
    --icon-filter: invert(20%);
    --button-hover-bg: white;
    
  }